@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  background-color: #feafc3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  border-radius: 26px;
  border: 4px solid rgba(252, 252, 252, 0.4);
  background: #fcfcfc no-repeat;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  color: #2d3440;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  max-width: 250px;
  height: 44px;
}

.slider-button {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #fcfcfc;
  background: rgba(252, 252, 252, 0.3);
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  background: #fcfcfc no-repeat;
  border-radius: 50%;
  border: none;
}

.button-social-media {
  background-color: #feafc3;
  text-decoration: none;
}

.button-red {
  color: #fcfcfc;
  text-align: center;
  border: 4px solid rgba(255, 47, 100, 0.3);
  background: #ff2f64;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
}

.goods-card-button {
  max-width: 32px;
  max-height: 32px;
  background: #ff2f64 no-repeat;
  border-radius: 50%;
  border: none;
}

.navigation-list,
.catalog-list,
.slider-list,
.social-media-list,
.slider-pagination,
.special-offers-list,
.goods-list,
.about-company-advantages-list,
.footer-additional-info-list,
.breadcrumbs,
.catalog-filter-fat-content-list,
.catalog-filter-icecream-toppings-list,
.goods-card-pagination {
  list-style-type: none;
}

/*Хэдер*/

.navigation {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.navigarion-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 24px 0;
}

.navigation-logo {
  width: 137px;
  margin-right: 16px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 422px;
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: block;
  padding: 8px 16px;
  line-height: 20px;
  text-align: center;
  color: #2d3440;
  text-decoration: none;
}

.catalog-item-link {
  display: block;
  font-size: 14px;
  text-align: center;
  color: #2d3440;
  text-decoration: none;
}

.catalog-new-products {
  font-weight: 700;
}

.navigation-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  font-size: 14px;
  text-align: center;
  color: #2d3440;
  text-decoration: none;
}

.navigation-user .navigation-link {
  padding: 8px 16px;
}

.navigation-contact-phone {
  font-weight: 700;
  text-align: center;
  color: #2d3440;
  text-decoration: none;
  padding: 8px 16px;
}

.cart {
  display: flex;
}

.cart-navigation-user {
  margin: 0;
  padding: 0;
}

/*main*/

.main-wrapper {
  flex-grow: 1;
}

.page-wrapper {
  width: 1170px;
  margin: 0 auto;
}

/*Слайдер*/

.slider {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: flex;
}

.slider-item-wrapper {
  display: flex;
  flex-direction: column;
  padding: 136px 26px 138px 70px;
  width: 450px;
}

.slider-item-title {
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.slider-item-description {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
}

/* .slider-image {
  position: relative;

}

.slider-image::after {
content: "";
position: absolute;
width: 327px;
height: 312px;
background-color: #FFCBD8;
border-radius: 50%;
display:block;
top: 0;
left: 0;
} */

.order-button {
  display: block;
  margin: 0;
  padding: 0;
  width: 139px;
  height: 44px;
  text-align: center;
}

.social-media-slider {
  margin-top: auto;
}

.social-media-list {
  display: flex;
  justify-content: space-between;
  min-width: 104px;
  margin: 0;
  padding: 0;
}

.social-media-item {
  min-width: 24px;
  min-height: 24px;
}

/* спец предложения */

.special-offers-description,
.goods-description,
.about-company-description {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
}

.special-offers {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.special-offers-description {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
}

.special-offers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.special-offers-item {
  display: flex;
  justify-content: space-between;
  width: 570px;
  border-radius: 16px;
  background: #f79;
}

.special-offers-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 317px;
  margin: 0;
  padding: 36px 0 36px 36px;
}

.special-offers-item-title {
  min-width: 434px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.special-offers-item-description {
  margin: 0;
  padding: 0;
}

/* карточки товаров */

.goods {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.goods-description {
  margin: 0;
  padding: 0;
  margin-bottom: 56px;
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
  margin: 0;
  padding: 0;
}

.goods-card {
  max-width: 270px;
  border-radius: 8px;
  background-color: #fcfcfc;
}

.goods-card-wrapper {
  padding: 0 40px 24px 40px;
}

.goods-card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #2d3440;
  text-align: center;
  margin: 0;
  padding: 0;
}

.goods-card-image {
  border-radius: 50%;
  margin-bottom: 16px;
}

.goods-card-name {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.goods-card-descriprion {
  color: #565c66;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.goods-card-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goods-card-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

/* О компании */
.about-company {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
  background: url("../images/main/ceo-background.jpg") no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.about-company-wrapper {
  width: 1122px;
  margin: 0;
  padding: 24px;
}

.about-company-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 56px 40px;
  background-color: #fff;
  border-radius: 16px;
}

.about-company-description {
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
}

.about-company-advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
  margin: 0;
  padding: 0;
}

/* .advantages-item-wrapper {
  flex: 1 0;
  width: 50%;
} */

.about-company-advantages-item {
  width: 505.5px;
  margin: 0;
  padding: 0;
}

.about-company-advantages-description {
  color: #565c66;
  margin: 0;
  padding: 0;
}

/* статьи и новости */

.additional-and-news {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
}

.aditional {
  display: flex;
  flex-direction: column;
  width: 570px;
  background: url("../images/main/additional-background.jpg") no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin: 0;
  padding: 32.59px 235px 67.15px 32px;
  box-sizing: border-box;
}

.additional-title {
  margin: 0;
  margin-bottom: 12.22px;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
}

.additional-link {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #2d3440;
  text-decoration: none;
}

.news {
  width: 570px;
  background: url("../images/main/subscribe-background.png") no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin: 0;
  padding: 0;
}

.news-wrapper {
  margin: 0;
  padding: 6px;
}

.news-conteiner {
  display: flex;
  flex-direction: column;
  width: 504px;
  border-radius: 16px;
  margin: 0;
  padding: 26px;
  background-color: #fff;
}

.news-description {
  color: #565c66;
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
}

.news-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}


.field {
  width: 332px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #b9b9b9;
  background-color: #fff;

}

/* доставка */

.delivery {
  display: flex;
  align-items: center;
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
  background: url("../images/main/delivery-background.jpg") no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.delivery-description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 167px 150px 163px 100px;
  min-width: 371px;
}

.delivery-description-title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 46px;
}

.delivery-description {
  max-width: 371px;
  margin: 0;
  padding: 0;
  color: #565c66;
}

.delivery-order {
  width: 500px;
  margin: 0;
  padding: 64px 64px 64px 0;
}

.delivery-order-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 40px 40px 42px 40px;
  border-radius: 8px;
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
}

.delivery-order-description {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  color: #565c66;
}

.delivery-order-form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.delivery-order-date,
.delivery-order-phone,
.delivery-order-address {
  color: #2d3440;
  font-weight: 700;
  line-height: 20px;
}

.date-and-phone-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.delivery-order-date {
  display: flex;
  flex-direction: column;
  width: 117px;
}

.delivery-order-phone {
  display: flex;
  flex-direction: column;
  width: 287px;
}

.delivery-order-address {
  display: flex;
  flex-direction: column;
  width: 420px;
  margin: 0;
  margin-bottom: 32px;
}

.form-label {
  margin-bottom: 8px;
}

.contacts {
  width: 1170px;
  margin: 0;
  padding: 0;
  background: url("../images/main/contacts-background.jpg") no-repeat;
  background-size: cover;
  border-radius: 16px;

}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: right;

  margin: 0;
  padding: 64px 763px 64px 64px;
  margin: 0;

  }

.contacts-conteiner {
  padding: 40px;
  background-color: #fcfcfc;
  border-radius: 8px;
  width: 343px;
  box-sizing: border-box;
}

.adress-description,
.contacs-phone-text {
  color: #565c66;
}

.adress-description {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.contacts-address-text {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.contacs-phone-text {
  font-style: normal;

  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.contacts-phone-number {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
}

.contacts-schedule {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
}

.contacts-form-button {
  margin: 0;
  padding: 0;
  text-align: center;
}

/*футер*/

.page-footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 48px;
}

.social-media-footer {
  margin-right: 259px;
}

.footer-additional-info {
  width: 356px;
  margin: 0 auto;
  margin-bottom: 9px;
  padding: 0;
}

.footer-additional-info-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 24px;
  margin: 0;
  padding: 0;
}

.footer-additional-info-item {
  margin: 0;
  padding: 0;
}

.footer-additional-info-link {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.for-suppliers {
  font-weight: 700;
}

.footer-made-by {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.footer-made-by-link {
  max-width: 93px;
}

.footer-made-by-text {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.htmlacademy-link {
  color: #2d3440;
}

/*Каталог*/

.catalog-header {
  margin: 0;
  margin-top: 32px;
  margin-bottom: 16px;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  gap: 28px;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link-current {
  text-decoration: underline;
}

/* фильтр */
.catalog-goods-filter {
  display: flex;
  flex-direction: column;
  width: 1170px;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
}

.catalog-goods-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.catalog-filter-wrapper {
  margin: 0;
  padding: 0;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 823px;
}

.catalog-goods-select-wrapper {
  display: flex;
  flex-direction: column;
}

.catalog-goods-price-select-wrapper {
  display: flex;
  flex-direction: column;
}

.catalog-filter-fat-content {
  display: flex;
  flex-direction: column;
}

.catalog-goods-select-title,
.catalog-goods-price-select-title,
.catalog-filter-fat-content-title {
  margin-bottom: 8px;
}

.catalog-filter-fat-content-list {
  display: flex;
  justify-content: space-evenly;
}

.catalog-filter-icecream-toppings {
  display: flex;
  flex-direction: column;
}

.catalog-filter-icecream-toppings-list {
  display: flex;
  justify-content: space-evenly;
}

.catalog-goods {
  margin: 0;
  margin-bottom: 16px;
}

.pagination-show-more-goods-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0;
  margin-bottom: 40px;
  padding: 41px 0 41px 487px;
  box-sizing: border-box;
}

.pagination-show-more-goods {
  width: 179px;
}

.goods-card-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 168px;
  margin: 0;
  padding: 0;

}

.goods-card-pagination-item {
  min-width: 24px;
  text-align: center;

}

.pagination-link {
  display: block;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
