@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  background-color: #feafc3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  border-radius: 26px;
  border: 4px solid rgba(252, 252, 252, 0.4);
  background: #fcfcfc no-repeat;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  color: #2d3440;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  min-width: 139px;
}

.slider-button {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #fcfcfc;
  background: rgba(252, 252, 252, 0.3);

}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  background: #fcfcfc no-repeat;
  border-radius: 50%;
  border: none;
}

.order-button{
  margin: 0 316px 138px 70px;
  }

  .button-social-media {
    background-color: #feafc3;
    text-decoration: none;
  }

.goods-card-button {
  width: 32px;
  height: 32px;
  background: #ff2f64 no-repeat;
  border-radius: 50%;
  border: none;
}

.button-red {
  border: 4px solid rgba(255, 47, 100, 0.3);
  background: #ff2f64;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
}


.navigation-list,
.catalog-list,
.slider-list,
.social-media-list,
.slider-pagination,
.special-offers-list,
.goods-list,
.about-company-advantages-list,
.footer-additional-info-list,
.breadcrumbs,
.catalog-filter-fat-content-list,
.catalog-filter-icecream-toppings-list,
.goods-card-pagination {
  list-style-type: none;
}

/*Хэдер*/

.navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  padding: 24px 0;
}

.navigation-logo {
  width: 137px;
  margin-right: 16px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 422px;
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: block;
  padding: 8px 16px;
  line-height: 20px;
  text-align: center;
  color: #2d3440;
  text-decoration: none;
}

.catalog-item-link {
  font-size: 14px;
  text-align: center;
  color: #2d3440;
  text-decoration: none;
}

.catalog-new-products {
  font-weight: 700;
}

.navigation-user {
  max-width: 431px;
  margin-left: auto;
  font-size: 14px;
  text-align: center;
  color: #2d3440;
  text-decoration: none;
}

.navigation-user .navigation-link {
  min-width: 32px;
  min-height: 32px;
}

.navigation-contact-phone {
  font-weight: 700;
  text-align: center;
  color: #2d3440;
  text-decoration: none;
}

.cart {
  display: flex;
}

.cart-item {
  padding-right: 6px;
}

/*main*/

.main-wrapper {
  flex-grow: 1;
}

.page-wrapper {
  width: 1170px;
  margin: 0 auto;
}

/*Слайдер*/

.slider {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: flex;
}

.slider-item-wrapper {
  display: flex;
  flex-direction: column;
}

.slider-item-title {
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
  margin: 136px 0 24px 70px;
  padding: 0;
}

.slider-item-description {
  font-size: 18px;
  line-height: 24px;
  margin-right: 26px;
  margin-bottom: 48px;
  margin-left: 70px;
}



.slider-image-wrapper {
margin: 0;
padding: 0;
}

/* .slider-image {
  position: relative;

}

.slider-image::after {
content: "";
position: absolute;
width: 327px;
height: 312px;
background-color: #FFCBD8;
border-radius: 50%;
display:block;
top: 0;
left: 0;
} */



.social-media-slider {
  margin-top: auto;
  }

.social-media-list {
  display: flex;
  min-width: 104px;
  margin: 0;
  padding: 0;

}

.social-media-item {
  min-width: 24px;
  min-height: 24px;
  margin-right: 16px;
  }

.social-media-item::nth-child(3n) {
  margin-right: 0;
}



.special-offers-description,
.goods-description,
.about-company-description {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
}

.special-offers-description {
  margin: 0;
  margin-bottom: 55px;
}

.special-offers {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.special-offers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.special-offers-item {
  display: flex;
  width: 570px;
  border-radius: 16px;
  background: #f79;
}

.special-offers-item-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 317px;
  margin: 36px 0 36px 36px;
}

.special-offers-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}

.special-offers-item-description {
  margin-bottom: 28px;
}

.goods {
  display: flex;
  flex-direction: column;
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.goods-card {
  display: flex;
  flex-direction: column;
  width: 270px;
  border-radius: 8px;
  background-color: #fcfcfc;
}

.goods-card-link {
  text-decoration: none;
  color: #2d3440;
  display: block;
}

.goods-card-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.goods-card-descriprion {
  color: #565c66;
  text-align: center;
}

.goods-card-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}



.goods-card-image {
  border-radius: 50%;
}

.about-company {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
  background: url("../images/main/ceo-background.jpg") no-repeat;
  border-radius: 16px;
}

.about-company-wrapper {
  width: 1122px;
  background-color: #fff;
  border-radius: 16px;
}

.about-company-advantages-list {
  margin: 0;
  padding: 0;
}

.about-company-advantages-description {
  color: #565c66;
}

.additional-and-news {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.aditional {
  width: 570px;
  background: url("../images/main/additional-background.jpg") no-repeat;
  border-radius: 16px;
}

.additional-title {
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
}

.additional-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #2d3440;
  text-decoration: none;
}



.news {
  width: 570px;
  background: url("../images/main/subscribe-background.png") no-repeat;
  border-radius: 16px;
}

.news-wrapper {
  width: 558px;
  background-color: #fff;
  border-radius: 16px;
}

.news-description {
  color: #565c66;
}

.field {
  width: 332px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #b9b9b9;
  background: var(--basic-white, #fff);
}

.delivery {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
  background: url("../images/main/delivery-background.jpg") no-repeat;
  border-radius: 16px;
}

.delivery-order-wrapper {
  width: 500px;
  border-radius: 8px;
  background: #fcfcfc;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
}

.delivery-description-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 46px;
}

.delivery-description {
  color: #565c66;
}

.delivery-order-description {
  color: #565c66;
}

.delivery-order-date,
.delivery-order-phone,
.delivery-order-address {
  color: #2d3440;
  font-weight: 700;
  line-height: 20px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  background: url("../images/main/contacts-background.jpg") no-repeat;
  border-radius: 16px;
}

.contacts-wrapper {
  width: 343px;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.adress-description,
.contacs-phone-text {
  color: #565c66;
}

.contacts-address-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.contacts-phone-number {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
}

.contacts-schedule {
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
}
/*футер*/
.page-footer-wrapper {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}



.social-media-list-footer {
  margin-right: 259px;
}

.footer-additional-info-link {
  width: 356px;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.for-suppliers {
  font-weight: 700;
}

.footer-made-by {
  max-width: 193px;
  margin-left: auto;
}
.footer-made-by-text {
  font-size: 12px;
  line-height: 16px;
}

.htmlacademy-link {
  color: #2d3440;
}

/*Каталог*/

.page-header-catalog {
  margin-bottom: 32px;
}

.catalog-header {
  display: flex;
  width: 379px;
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.breadcrumbs-link-current {
  text-decoration: underline;
}

.catalog-goods-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  margin: 0;
  padding: 0;
}

.catalog-goods-filter {
  display: flex;
  width: 1170px;
  margin: 0;
  margin-bottom: 44px;
  font-size: 14px;
  line-height: 20px;
}
.catalog-filter-wrapper {
  width: 823px;
  margin: 0;
}

.catalog-goods {
  margin-bottom: 16px;
}

.pagination-show-more-goods-wrapper {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.goods-card-pagination {
  margin: 0;
  padding: 0;
}
.pagination-link {
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}
