/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  min-width: 1170px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  background-color: #d2d7dd;
}

.body-pink {
  background-color: #feafc3;
}

.body-blue {
  background-color: #69a9ff;
}

.body-yellow {
  background-color: #fcc850;
}

.img {
  -o-object-fit: contain;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 12px 32px;
  border-radius: 26px;
  background-color: #fcfcfc;
  color: #2d3440;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  cursor: pointer;
  outline-offset: 0;
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #fcfcfc;
}

.button:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
}

.button:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
}

.button:active {
  background-color: #fcfcfc;
  outline: 2px solid #2d3440;
}

.button:disabled {
  background-color: #e7e7e7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  color: #b9b9b9;
  font-weight: 400;
}

.slider-button {
  position: absolute;
  top: 233px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  outline: 2px solid #fcfcfc;
  outline-offset: 0;
  border: none;
  background-color: rgba(252, 252, 252, 0.3);
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.slider-prev {
  right: 311px;
}

.slider-next {
  right: -15px;
}

.slider-prev .slider-button-image {
  position: absolute;
  top: 10px;
  right: 2px;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  fill: #fcfcfc;
}

.slider-next .slider-button-image {
  position: absolute;
  top: 10px;
  right: -2px;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  fill: #fcfcfc;
}

.slider-button:hover {
  background-color: #fcfcfc;
  outline: 2px solid #fcfcfc;
}

.slider-button:hover .slider-button-image {
  fill: #2d3440;
}

.slider-button:focus {
  outline: 2px solid #2d3440;
}

.slider-button:focus .slider-button-image {
  fill: #2d3440;
}

.slider-button:focus-visible {
  outline: 2px solid #2d3440;
}

.slider-button:focus-visible .slider-button-image {
  fill: #2d3440;
}

.slider-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid rgba(252, 252, 252, 0.5);
}

.slider-button:active .slider-button-image {
  fill: #2d3440;
}

.slider-button:disabled {
  background-color: #feb3c6;
  outline: 2px solid #fcfcfc;
}

.slider-button:disabled .slider-button-image {
  fill: #fcfcfc;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  background: rgba(252, 252, 252, 0.3) no-repeat;
  border-radius: 50%;
  border: none;
  outline: 1px solid rgba(252, 252, 252, 0.3);
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.pagination-button-current {
  background-color: #fcfcfc;
  outline: 1px solid #fcfcfc;
}

.slider-pagination-button:hover {
  outline: 1px solid #fcfcfc;
}

.slider-pagination-button:focus {
  outline: 1px solid #2d3440;
}

.slider-pagination-button:focus-visible {
  outline: 1px solid #2d3440;
}

.slider-pagination-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 1px solid rgba(252, 252, 252, 0.5);
}

.button-social-media {
  display: inline-block;
  background-color: transparent;
  border-radius: 50%;
  text-decoration: none;
  outline: 2px solid rgba(252, 252, 252, 0.3);
  outline-offset: 0;
  width: 24px;
  height: 24px;
}

.button-social-media:hover {
  background-color: #2d3440;
  outline: 2px solid rgba(252, 252, 252, 0.5);
}

.button-social-media:focus {
  background-color: #2d3440;
  outline: 2px solid #2d3440;
}

.button-social-media:focus-visible {
  background-color: #2d3440;
  outline: 2px solid #2d3440;
}

.button-social-media:active {
  background-color: rgba(45, 52, 46, 0.5);
  outline: 2px solid #fcfcfc;
  opacity: 0.5;
}

.button-red {
  color: #fcfcfc;
  background-color: #ff2f64;
  border: none;
  outline: 4px solid rgba(255, 47, 100, 0.3);
}

.button-red:hover {
  background-color: #fcfcfc;
  outline: 4px solid #ff2f64;
  color: #2d3440;
}

.button-red:focus {
  background-color: #ff2f64;
  outline: 2px solid #2d3440;
}

.button-red:focus-visible {
  background-color: #ff2f64;
  outline: 2px solid #2d3440;
}

.button-red:active {
  background-color: #feafc3;
  outline: 2px solid #2d3440;
}

.button-red:disabled {
  background-color: #b9b9b9;
  outline: 4px solid #e5e5e5;
  color: #565c66;
  font-weight: 400;
}

.goods-card-button {
  position: relative;
  width: 32px;
  height: 32px;
  background: #ff2f64 no-repeat;
  border-radius: 50%;
  border: none;
  outline: 2px solid #ff2f64;
  margin: 0;
  padding: 0;
  outline-offset: -1px;
}

.goods-card-button:hover {
  background-color: #fcfcfc;
  outline: 2px solid #ff2f64;
}

.goods-card-button:hover .goods-button-image {
  fill: #2d3440;
}

.goods-card-button:focus {
  background-color: #ff2f64;
  outline: 2px solid #2d3440;
}

.goods-card-button:focus .goods-button-image {
  fill: #fcfcfc;
}

.goods-card-button:focus-visible {
  background-color: #ff2f64;
  outline: 2px solid #2d3440;
}

.goods-card-button:focus-visible .goods-button-image {
  fill: #fcfcfc;
}

.goods-card-button:active {
  background-color: #feafc3;
  outline: 2px solid #ff2f64;
}

.goods-card-button:active .goods-button-image {
  fill: #2d3440;
}

.goods-card-button:disabled {
  background-color: #b9b9b9;
  outline: 2px solid #b9b9b9;
}

.goods-card-button:disabled .goods-button-image {
  fill: #565c66;
}

.catalog-filter-button {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #fcfcfc;
  width: 185px;
  margin: 0 16px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  border: none;
  text-align: center;
  font-family: "Inter", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}

.catalog-filter-button:hover {
  background-color: #fcfcfc;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.catalog-filter-button:focus {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2d3440;
}

.catalog-filter-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2d3440;
}

.catalog-filter-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid rgba(252, 252, 252, 0.5);
}

.catalog-filter-button:disabled {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #fcfcfc;
  color: #2d3440;
  opacity: 0.4;
}

.navigation-list,
.catalog-list,
.slider-list,
.social-media-list,
.slider-pagination,
.special-offers-list,
.goods-list,
.ceo-advantages-list,
.footer-additional-list,
.breadcrumbs,
.fat-content-list,
.icecream-toppings-list,
.goods-card-pagination,
.cart-items-list {
  list-style-type: none;
}

.navigation {
  display: flex;
  width: 1170px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 24px 0;
}

.navigation-logo {
  width: 137px;
  padding-right: 15px;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 422px;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

.navigation-item {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 6px 14px;
  line-height: 20px;
  text-align: center;
  color: #2d3440;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline-offset: -2px;
  max-width: 179px;
  text-wrap: normal;
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  border-radius: 30px;
}

.navigation-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  border-radius: 30px;
}

.navigation-link:active {
  background-color: #fcfcfc;
  border-radius: 30px;
  outline: none;
}

.catalog-link {
  padding-right: 38px;
  background-image: url("../images/header/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center right 16px;
  border: none;
  outline-offset: -2px;
}

.catalog-link:hover {
  background-color: rgba(255, 74, 120, 0.6);
  border-radius: 30px;
  background-image: url("../images/header/arrow-up.svg");
  color: #fcfcfc;
}

.catalog-link:focus {
  background-color: #ff4a78;
  border-radius: 30px;
  background-image: url("../images/header/arrow-up.svg");
  outline: 2px solid #000;
  color: #fcfcfc;
  box-sizing: border-box;
}

.catalog-link:focus-visible {
  background-color: #ff4a78;
  border-radius: 30px;
  background-image: url("../images/header/arrow-up.svg");
  outline: 2px solid #000;
  color: #fcfcfc;
}

.catalog-link:focus-within {
  background-color: #ff4a78;
  border-radius: 30px;
  background-image: url("../images/header/arrow-up.svg");
  outline: 2px solid #000;
  color: #fcfcfc;
}

.catalog-link:focus:active {
  background-color: rgba(255, 74, 120, 0.3);
  border-radius: 30px;
  background-image: url("../images/header/arrow-up.svg");
  color: #fcfcfc;
  outline: none;
}

.catalog-link:active {
  background-color: rgba(255, 74, 120, 0.3);
  border-radius: 30px;
  background-image: url("../images/header/arrow-up.svg");
  color: #fcfcfc;
}

.navigation-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 164px;
  font-size: 14px;
  text-align: center;
  color: #2d3440;
  text-decoration: none;
  width: 431px;
}

.navigation-user .navigation-item {
  padding-right: 16px;
}

.navigation-user .navigation-item:last-child {
  padding-right: 0;
}

.navigation-user .navigation-link {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  padding: 4px 14px;
  outline-offset: -2px;
  max-width: 115px;
  text-wrap: normal;
}

.navigation-user .navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  outline: none;
  border-radius: 30px;
}

.navigation-user .navigation-link:focus {
  background-color: #ff4a78;
  border-radius: 30px;
  outline: 2px solid #000;
  color: #fcfcfc;
}

.navigation-user .navigation-link:focus .navigation-item-image {
  fill: #fcfcfc;
}

.navigation-user .navigation-link:focus-visible {
  background-color: #ff4a78;
  border-radius: 30px;
  outline: 2px solid #000;
  color: #fcfcfc;
}

.navigation-user .navigation-link:focus-visible .navigation-item-image {
  fill: #fcfcfc;
}

.navigation-user .navigation-link:focus:active {
  background-color: #ff4a78;
  outline: none;
  color: #fcfcfc;
}

.navigation-user .navigation-link:focus:active .navigation-item-image {
  fill: #fcfcfc;
}

.navigation-user .navigation-link:active {
  opacity: 0.3;
}

.navigation-contact-phone {
  display: block;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #2d3440;
  text-decoration: none;
  padding: 0;
  line-height: 20px;
  width: 148px;
  text-wrap: normal;
  }

.navigation-user .search {
  display: block;
  height: 30px;
  width: 30px;
}

.navigation-user .log-in,
.navigation-user .cart {
  padding-left: 39px;
}

.navigation-item-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  fill: #2d3440;
}

.search .navigation-item-image {
  left: 8px;
  top: 8px;
}

.log-in .navigation-item-image {
  left: 16px;
  top: 6px;
}

.cart .navigation-item-image {
  left: 16px;
  top: 6px;
}

.cart-navigation-user {
  margin: 0;
  padding: 0;
}

.main-wrapper {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 1170px;
  margin: 0 auto;
}

.slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.slider-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 60px;
  gap: 8px;
  margin: 0;
  margin-right: 18px;
  padding: 0;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.slider-pagination-item {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 131px 26px 138px 0;
  width: 450px;
}

.slider-item-title {
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.slider-item-description {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
}

.place-order {
  margin: 0;
  padding: 0;
}

.slider-images-wrapper,
.slider-images-wrapper-blue,
.slider-images-wrapper-yellow {
  position: relative;
  padding: 21px 0 0;
}

/* .slider-controls {
  position: absolute;
  top: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  -webkit-transform: translateY(-45%);
  -ms-transform: translateY(-45%);
  transform: translateY(-45%);


} */

.slider-images-wrapper::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 150px;
  background-image: url("../images/slider/slider-product-preview-pink-1.png");
  top: 199px;
  left: 384px;
  cursor: pointer;
}

.slider-images-wrapper::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 150px;
  background-image: url("../images/slider/slider-product-preview-pink-2.png");
  top: 200px;
  left: 525px;
  cursor: pointer;
}

.slider-images-wrapper-blue::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 150px;
  background-image: url("../images/slider/slider-product-preview-blue-1.png");
  top: 199px;
  left: 384px;
  cursor: pointer;
}

.slider-images-wrapper-blue::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 150px;
  background-image: url("../images/slider/slider-product-preview-blue-2.png");
  top: 200px;
  left: 525px;
  cursor: pointer;
}

.slider-images-wrapper-yellow::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 150px;
  background-image: url("../images/slider/slider-product-preview-yellow-1.png");
  top: 199px;
  left: 384px;
  cursor: pointer;
}

.slider-images-wrapper-yellow::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 150px;
  background-image: url("../images/slider/slider-product-preview-yellow-2.png");
  top: 200px;
  left: 525px;
  cursor: pointer;
}

.image-wrapper {
  position: relative;
}

.image-wrapper::after {
  position: absolute;
  content: "";
  width: 327px;
  height: 312px;
  background-color: #ffcbd8;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  top: 95px;
  right: 1px;
  z-index: -1;
}

.image-wrapper-blue {
  position: relative;
}

.image-wrapper-blue. img {
object-position: center;
}

.image-wrapper-blue::after {
  position: absolute;
  content: "";
  width: 327px;
  height: 312px;
  background-color: #9fc8ff;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  top: 95px;
  right: 1px;
  z-index: -1;
}

.image-wrapper-yellow {
  position: relative;
}

.image-wrapper-yellow::after {
  position: absolute;
  content: "";
  width: 327px;
  height: 312px;
  background-color: #fcdc92;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  top: 95px;
  right: 1px;
  z-index: -1;
}

.social-media-slider {
  margin-top: auto;
  margin-left: auto;
}

.social-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  max-width: 104px;
}

.social-media-item {
  margin: 0;
  margin-right: 16px;
}

.social-media-item:nth-child(3n) {
  margin-right: 0;
}

.social-media-image {
  display: block;
}

.special-offers-description,
.goods-description,
.about-company-description {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
}

.special-offers {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 71px;
}

.special-offers-description {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
}

.special-offers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.special-offers-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 570px;
  border-radius: 16px;
  background: #f79;
  margin-bottom: 10px;
}

.special-offers-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  justify-content: stretch;
  width: 317px;
  margin: 0;
  padding: 36px 0 36px 36px;
}

.offers-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
}

.offers-item-description {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
}

.order-button,
.recieve-gift {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.special-offers-item img {
  cursor: pointer;
}

.goods {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.goods-description {
  margin: 0;
  padding: 0;
  margin-bottom: 106px;
}

.goods-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 270px 30px 270px 30px 270px 30px 270px;
  grid-template-columns: 270px 270px 270px 270px;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  row-gap: 91px;
  margin: 0;
  padding: 0;
}

.goods-card {
  width: 270px;
  border-radius: 8px;
  background-color: #fcfcfc;
  padding: 0 40px 24px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.goods-card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: #2d3440;
  text-align: center;
  margin: 0;
  padding: 0;
}

.goods-card-image {
  border-radius: 50%;
  margin-bottom: 16px;
  margin-top: -51px;
}

.goods-card-name {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.goods-card-description {
  color: #565c66;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
}

.goods-card-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.goods-card-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  max-width: 150px;
}

.goods-button-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #e7e7e7;
}

.about-company {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
  background: url("../images/main/ceo-background.jpg") no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.about-company-wrapper {
  width: 1122px;
  margin: 0;
  padding: 24px;
}

.about-company-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 57px 40px 56px;
  background-color: #fff;
  border-radius: 16px;
}

.about-company-description {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
}

.ceo-advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  row-gap: 40px;
  margin: 0;
  padding: 0;
}

.ceo-advantages-item {
  width: 441px;
  margin: 0;
  padding: 0;
  padding-left: 64px;
}

.ice-cream {
  position: relative;
}

.ice-cream:before {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  left: 0;
  top: 0;
  background-image: url("../images/main/ceo-icon-icecream.svg");
  background-repeat: no-repeat;
}

.leaf {
  position: relative;
}

.leaf:before {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  left: 0;
  top: 0;
  background-image: url("../images/main/ceo-icon-leaf.svg");
  background-repeat: no-repeat;
}

.cow {
  position: relative;
}

.cow::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  left: 0;
  top: 0;
  background-image: url("../images/main/ceo-icon-cow.svg");
  background-repeat: no-repeat;
}

.temperature {
  position: relative;
}

.temperature::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  left: 0;
  top: 0;
  background-image: url("../images/main/ceo-icon-temperature.svg");
  background-repeat: no-repeat;
}

.ceo-advantages-description {
  color: #565c66;
  margin: 0;
  padding: 0;
}

.additional-and-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1170px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
}

.aditional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 570px;
  background: url("../images/main/additional-background.jpg") no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin: 0;
  padding: 32px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.adittional-wrapper {
  width: 303px;
}

.additional-title {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
}

.additional-link {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #2d3440;
  text-decoration: none;
}

.news {
  width: 570px;
  background: url("../images/main/subscribe-background.png") no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin: 0;
  padding: 0;
}

.news-wrapper {
  margin: 0;
  padding: 6px;
}

.news-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 504px;
  border-radius: 16px;
  margin: 0;
  padding: 27px;
  background-color: #fff;
}

.news-description {
  color: #565c66;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
}

.news-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.news-subscribe {
  margin: 0;
  padding: 0;
}

.form-label {
  margin-bottom: 8px;
  color: #2d3440;
  font-weight: 700;
  line-height: 20px;
}

.field {
  margin: 0;
  padding: 13px 16px 14px;
  border-radius: 4px;
  outline: 1px solid #b9b9b9;
  border: none;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.field:required {
  outline: 1px solid #b9b9b9;
  border: none;
  background-color: #fff;
}

.field:hover {
  color: #2d3440;
  outline-color: #2d3440;
}

.field:focus {
  color: #2d3440;
  outline: 2px solid #2d3440;
}

.field:focus-visible {
  color: #2d3440;
  outline: 2px solid #2d3440;
}

.field:active {
  color: #2d3440;
}

.field:invalid {
  color: #2d3440;
  outline: 2px solid #ea5454;
}

.field:hover:invalid {
  color: #2d3440;
  outline: 1px solid #ea5454;
}

.field:disabled {
  color: #2d3440;
  opacity: 0.6;
  background-color: #e7e7e7;
  outline-color: #b9b9b9;
}
.field:hover:disabled {
  color: #2d3440;
  background-color: #e7e7e7;
  outline-color: #b9b9b9;
}

.field::-webkit-input-placeholder {
  color: #b9b9b9;
}

.field::-moz-placeholder {
  color: #b9b9b9;
}

.field:-ms-input-placeholder {
  color: #b9b9b9;
}

.field::-ms-input-placeholder {
  color: #b9b9b9;
}

.field::placeholder {
  color: #b9b9b9;
}

.field:required {
  outline: 1px solid #b9b9b9;
  border: none;
  background-color: #fff;
}

.subscribe {
  width: 300px;
}

.news-button {
  font-size: 16px;
  padding: 11px 35px;
}

.delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 80px;
  background: url("../images/main/delivery-background.jpg") no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 64px;
  padding-left: 100px;
}

.delivery-description-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  width: 371px;
}

.delivery-description-title {
  margin: 8px 0 24px;
  padding: 0;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 46px;
}

.delivery-description {
  width: 371px;
  margin: 0;
  padding: 0;
  color: #565c66;
}

.delivery-order {
  width: 500px;
  margin: 0;
}

.delivery-order-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 40px 40px 42px 40px;
  border-radius: 8px;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
}

.delivery-order-description {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  color: #565c66;
}

.delivery-order-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.date-phone-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 21px;
}

.delivery-order-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 117px;
  margin: 0;
}

.delivery-order-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 287px;
  margin: 0;
}

.delivery-order-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin: 0;
  margin-bottom: 32px;
}

.form-label-icon {
  position: relative;
  padding-right: 18px;
}

.tooltip {
  position: absolute;
  margin: 4px 0 4px 5px;
  width: 14px;
  height: 14px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  fill: #b9b9b9;
}

.tooltip-text {
  position: relative;
  background-color: #fcfcfc;
  border: 1px solid #b9b9b9;
  color: #565c66;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  padding: 10px 8px;
  display: block;
  width: 146px;
  position: absolute;
  left: 18px;
  bottom: -20px;
  z-index: 1;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.delivery-order-button {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 16px;
  padding: 12px 33px;
}

.contacts {
  width: 1170px;
  margin: 0;
  padding: 0;
  background: url("../images/main/contacts-background.jpg") no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 64px;
}

.contacts-conteiner {
  padding: 40px;
  padding-bottom: 42px;
  background-color: #fcfcfc;
  border-radius: 8px;
  width: 343px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.adress-description,
.contacs-phone-text {
  color: #565c66;
}

.adress-description {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.contacts-address-text {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.contacs-phone-text {
  font-style: normal;

  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.contacts-phone-number {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
}

.contacts-schedule {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
}

.page-footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer-additional-info {
  width: 356px;
}

.footer-additional-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content -webkit-max-content;
  -ms-grid-columns: max-content max-content;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  row-gap: 8px;
  margin: 0;
  padding: 0;
}

.footer-additional-item {
  margin: 0;
  padding: 0;
  padding-left: 24px;
  max-width: 182px;
}

.footer-additional-link {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.for-suppliers {
  position: relative;
  font-weight: 700;
}

.for-suppliers::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../images/footer/favorite.svg");
  background-repeat: no-repeat;
  left: -23px;
  top: 3px;
}

.footer-made-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.made-by-link {
  width: 93px;
  margin-bottom: 10px;
}

.made-by-logo {
  display: block;
  padding-left: 1px;
}

.made-by-text {
  max-width: 193px;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.htmlacademy-link {
  color: #2d3440;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  text-underline-offset: 2px;
}

.catalog-header {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 17px;
  padding: 0;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  padding-right: 20px;
  background-image: url("../images/catalog/arrow-dubble.svg");
  background-repeat: no-repeat;
  background-size: 8px 8px;
  background-position: center right;
}

.breadcrumbs-item:last-child {
  background-image: none;
}

.breadcrumbs-link {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link-current {
  position: relative;
}

.breadcrumbs-link-current::after {
  position: absolute;
  content: "";
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #2d3440;
}

.catalog-goods-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 1170px;
  margin: 0;
  margin-bottom: 95px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
}

.catalog-goods-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
}

.catalog-filter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 823px;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.goods-select-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.select-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 196px;
}

.goods-select-list {
  width: 100%;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  padding: 8px 16px;
  border: none;
  background-image: url("../images/header/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 13px center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.goods-select-list:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.goods-select-list:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #fcfcfc;
}

.goods-select-list:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #fcfcfc;
}

.goods-select-title {
  margin: 0 16px 8px;
}

.catalog-filter-price {
  margin: 0;
  padding: 0;
  border: none;
}

.price-and-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 20px 8px 12px;
}

.filter-price-title {
  margin: 0;
  padding: 0;
}
.range-wrapper-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.catalog-filter-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 3px;
}

.range-input {
  width: 30px;
  padding: 0;

  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.range {
  padding: 16px 12px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 16px;
  background-color: rgba(86, 92, 102, 0.3);
  border-radius: 2px;
  width: 164px;
  margin: 0;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #565c66;
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url("../images/catalog/toggle.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  background-image: url("../images/catalog/toggle-hover.svg");
  outline: none;
}

.range-toggle:focus {
  background-image: url("../images/catalog/toggle-hover.svg");
  outline: 2px solid #2d3440;
  border-radius: 50%;
}

.range-toggle:focus-visible {
  background-image: url("../images/catalog/toggle-hover.svg");
  outline: 2px solid #2d3440;
  border-radius: 50%;
}

.range-toggle:active {
  background-image: url("../images/catalog/toggle-active.svg");
  outline: none;
}

.toggle-min {
  top: -6px;
  left: 1px;
}

.toggle-max {
  top: -6px;
  right: -9px;
}

.fat-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.fat-content-title {
  margin: 0;
  margin-bottom: 8px;
  margin-left: 16px;
}

.fat-content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 8px 24px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.fat-content-item {
  padding-right: 17px;
}

.fat-content-item:last-child {
  padding-right: 0;
}

.select {
  position: relative;
  display: block;
  padding-left: 24px;
}

.select-input {
  position: absolute;
}

.select-input[type="radio"] + .select-mark {
  background-image: url("../images/catalog/radio-box-off-black.svg");
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
}

.select-input[type="radio"]:checked + .select-mark {
  background-image: url("../images/catalog/radio-box-on-black.svg");
}

.select-input[type="radio"]:hover + .select-mark {
  background-image: url("../images/catalog/radio-box-off-white.svg");
}

.select-input[type="radio"]:checked:hover + .select-mark {
  background-image: url("../images/catalog/radio-box-on-white.svg");
}

.select-input[type="radio"]:focus + .select-mark::before {
  outline: 2px solid #ff2f64;
}

.select-input[type="radio"]:focus-visible + .select-mark {
  outline: 2px solid #ff2f64;
}

.select-input[type="radio"]:checked:focus + .select-mark {
  outline: 2px solid #ff2f64;
}

.select-input[type="radio"]:checked:focus-visible + .select-mark {
  outline: 2px solid #ff2f64;
}

.select-input[type="radio"]:disabled + .select-mark {
  background-image: url("../images/catalog/radio-box-off-grey.svg");
}

.select-input[type="radio"]:checked:disabled + .select-mark {
  background-image: url("../images/catalog/radio-box-on-grey.svg");
}

.icecream-toppings-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 823px;
}

.icecream-toppings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.icecream-toppings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  margin: 0;
  margin-bottom: 8px;
  margin-left: 16px;
}

.icecream-toppings-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 10px 24px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.icecream-toppings-item {
  padding-right: 17px;
}

.icecream-toppings-item:last-child {
  padding-right: 0;
}

.select-input[type="checkbox"] + .select-mark {
  position: absolute;
  background-image: url("../images/catalog/check-box-off-black.svg");
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
}

.select-input[type="checkbox"]:checked + .select-mark {
  background-image: url("../images/catalog/check-box-on-black.svg");
}

.select-input[type="checkbox"]:focus + .select-mark {
  outline: 2px solid #ff2f64;
}

.select-input[type="checkbox"]:focus-visible + .select-mark {
  outline: 2px solid #ff2f64;
}

.select-input[type="checkbox"]:checked:focus + .select-mark {
  outline: 2px solid #ff2f64;
}

.select-input[type="checkbox"]:checked:focus-visible + .select-mark {
  outline: 2px solid #ff2f64;
}

.select-input[type="checkbox"]:disabled + .select-mark {
  background-image: url("../images/catalog/check-box-off-grey.svg");
}

.select-input[type="checkbox"]:checked:disabled + .select-mark {
  background-image: url("../images/catalog/check-box-on-grey.svg");
}

.select-input[type="checkbox"]:hover + .select-mark {
  background-image: url("../images/catalog/check-box-off-white.svg");
}

.select-input[type="checkbox"]:checked:hover + .select-mark {
  background-image: url("../images/catalog/check-box-on-white.svg");
}

.catalog-goods {
  margin: 0;
  margin-bottom: 16px;
}

.show-more-wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-areas: ". show-more-button pagination";
  -ms-grid-columns: 487px auto 168px;
  grid-template-columns: 487px auto 168px;
  margin: 0;
  margin-bottom: 40px;
  padding: 41px 0;
}

.pagination-show-more {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  width: 179px;
  grid-area: show-more-button;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.pagination-show-more-goods-text {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.goods-card-pagination {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: pagination;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 168px;
  margin: 0;
  padding: 0;
}

.goods-pagination-item {
  width: 24px;
  text-align: center;
}

.pagination-link {
  display: block;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  text-align: center;
  margin: 0;
  padding: 2px 0;
  border: none;
  outline-offset: -1px;
}

.pagination-current {
  background-color: #fcfcfc;
  border-radius: 30px;
  outline: none;
}

.pagination-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
  outline: none;
}

.pagination-link:focus {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2d3440;
  border-radius: 30px;
}

.pagination-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2d3440;
  border-radius: 30px;
}

.pagination-link:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 1px solid #fcfcfc;
  border-radius: 30px;
}

.pagination-current {
  background-color: #fcfcfc;
  border-radius: 30px;
  outline: none;
}

.previous-page {
  height: 24px;
  background-image: url(../images/catalog/arrow-black-left.svg);
  background-repeat: no-repeat;
  background-size: 6px 11px;
  background-position: center left 5px;
  opacity: 0.3;
  border-radius: 50%;
}

.next-page {
  background-image: url(../images/catalog/arrow-black-right.svg);
  height: 24px;
  background-repeat: no-repeat;
  background-size: 6px 11px;
  background-position: center right 4px;
}

.catalog-list {
  position: absolute;
  top: 43px;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 8px 0;
  font-family: "Inter", sans-serif;
  color: #b9b9b9;
  background-color: #fcfcfc;
  border-radius: 4px;
  min-width: 135px;
  -webkit-box-shadow: 0px 15px 40px 0px rgba(45, 52, 64, 0.12);
  box-shadow: 0px 15px 40px 0px rgba(45, 52, 64, 0.12);
  display: none;
}

.popover-open {
  display: block;
}

.catalog-item {
  white-space: nowrap;
  width: 100%;
  padding: 6px 16px;
  box-sizing: border-box;
}

.catalog-item-link {
  font-size: 14px;
  color: #2d3440;
  text-decoration: none;
  text-align: top;
}

.catalog-new-products {
  position: relative;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
}

.catalog-new-products::after {
  position: absolute;
  content: "";
  width: 103px;
  height: 1px;
  background-color: #b9b9b9;
  right: 18px;
  top: 40px;
}

.catalog-item:hover {
  background-color: #ffcbd8;
}

.catalog-item:focus {
  background-color: #ff4a78;
  color: #fcfcfc;
}

.catalog-item:focus-visible {
  background-color: #ff4a78;
  color: #fcfcfc;
}

.catalog-item:active {
  background-color: #ff7799;
  color: #2d3440;
}

.popover-search {
  position: absolute;
  top: 38px;
  right: 16px;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 356px;
  padding: 24px 16px;
  font-family: "Inter", sans-serif;
  color: #b9b9b9;
  background-color: #fcfcfc;
  border-radius: 4px;
  min-height: 96px;
  -webkit-box-shadow: 0px 15px 40px 0px rgba(45, 52, 64, 0.12);
  box-shadow: 0px 15px 40px 0px rgba(45, 52, 64, 0.12);
  display: none;
}

.popover-open {
  display: block;
}

.field-search {
  width: 324px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.popover-log-in {
  position: absolute;
  top: 39px;
  right: 11px;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 420px;
  padding: 48px;
  padding-bottom: 46px;
  font-family: "Inter", sans-serif;
  color: #2d3440;
  background-color: #fcfcfc;
  border-radius: 4px;
  min-height: 350px;
  -webkit-box-shadow: 0px 15px 40px 0px rgba(45, 52, 64, 0.12);
  box-shadow: 0px 15px 40px 0px rgba(45, 52, 64, 0.12);
  display: none;
}

.popover-open {
  display: block;
}

.popover-log-in-form {
  width: 100%;
}

.login-password-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.login-registration-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.log-in-button {
  margin-right: 22px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.user-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.reset-password {
  padding-bottom: 4px;
  padding-top: 2px;
}

.reset-password,
.register {
  color: #2d3440;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  text-underline-offset: 4px;
}

.popover {
  position: absolute;
  top: 39px;
  right: 0;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 441px;
  padding: 48px;
  font-family: "Inter", sans-serif;
  color: #2d3440;
  background-color: #fcfcfc;
  border-radius: 4px;
  min-height: 382px;
  -webkit-box-shadow: 0px 15px 40px 0px rgba(45, 52, 64, 0.12);
  box-shadow: 0px 15px 40px 0px rgba(45, 52, 64, 0.12);
  display: none;
}

.popover-open {
  display: block;
}

.cart-button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.popover-cart-empty {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 288px;
  padding: 48px 0;
  font-family: "Inter", sans-serif;
  color: #2d3440;
  background-color: #fcfcfc;
  border-radius: 4px;
  min-height: 156px;
  -webkit-box-shadow: 0px 15px 40px 0px rgba(45, 52, 64, 0.12);
  box-shadow: 0px 15px 40px 0px rgba(45, 52, 64, 0.12);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  display: none;
}

.popover-cart-empty-open {
  display: block;
}

.cart-empty-description {
  margin: 0;
  padding: 0;
}

.popover-cart {
  width: 441px;
}

.popover-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.popover-title {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: #2d3440;
}
.cart-items-list {
  margin: 0;
  padding: 0;
}

.cart-item {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 46px 16px 148px 16px 87px 16px 16px;
  grid-template-columns: 46px 148px 87px 16px;
  margin-bottom: 24px;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px;
}

.cart-item:last-child {
  margin-bottom: 64px;
}

.cart-item:last-child::after {
  position: absolute;
  content: "";
  width: 345px;
  height: 1px;
  background-color: #e7e7e7;
  top: 80px;
}

.cart-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  -ms-grid-column-align: start;

  justify-self: start;
}

.cart-item-title,
.cart-item-price {
  text-align: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  padding: 0;
  padding-top: 2px;
  margin: 0;
}

.cart-item-description {
  color: #b9b9b9;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.cart-item-button {
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 0;
  top: 15px;
  right: -4px;
}

.cart-place-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.order-cost {
  margin: 0;
  margin-top: 5px;
  margin-left: auto;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.modal-auth {
  width: 570px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  background-image: url("../images/header/cross.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal-description {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.contuct-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal-field {
  margin-bottom: 16px;
}

.ask-your-question {
  min-height: 121px;
  margin-bottom: 32px;
  color: #b9b9b9;
}

.log-in-button-modal {
  margin: 0;
  margin-left: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
